.header {
	position: relative;
	&__fixed {
		position: fixed;
		width: 100%;
		padding: 1rem;
		background-color: $color-primary;
	}

	.header__box {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem 7rem;
		border: 1px solid black;
	}
}

.cta {
	padding-top: 18rem;
	position: relative;
	background: url(../upload/cta.jpg) no-repeat scroll center center / cover;

	padding-bottom: 9rem;
}

.main {
	padding: 5rem 0;

	background-color: #f1f1f1;
}

.footer-view {
	@include respond(tab-land) {
		flex-direction: column;
	}
}

.footer {
	color: white;
	padding: 1rem;
	background-color: black;
	&__border {
		padding: 5rem 0;
		border: 1px solid gray;
	}

	&__row {
		flex: 0 0 33.33333%;
	}
}

.copyright {
	text-align: center;
}
